body {
  margin: 0;
  font-family: Arial;
}

.container{
  background: #000;
  padding: 10px 20px;
}
ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.item {
  position: relative;
  padding: 15px 25px;
  color: white;
}
.dropdown {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background: rgb(223, 223, 233);
  min-width: 160px;
  padding: 10px 0;
  color: black;
}
.item:hover .dropdown {
  display: block;
}
.dropdown-item {
  padding: 10px 20px;
  position: relative;
  white-space: nowrap;
}
.dropdown-item:hover {
  background: white;
}
.sub-dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
  background: white;
  color: black;
  min-width: 150px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  padding: 10px 0;
  border-radius: 4px;
}
.dropdown-item:hover .sub-dropdown {
  display: block;
}
.sub-dropdown p {
  padding: 10px 15px;
  margin: 0;
}
.sub-dropdown p:hover {
  background: rgb(223, 223, 233);
}
