body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  margin: 20px;
  animation-name: myAnimation;
  animation-duration: 1s;
}
.notification {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  padding: 30px 10px 10px 10px;
}
.notification img {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}
@keyframes myAnimation {
  from {top: -200px;}
  to {top: 0px;}
}