body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: brown;
}
#menubar {
  height: 45px;
  width: 40px;
  background-color: brown;
}
#cross {
  padding: 2px;
  height: 35px; 
  width: 35px;
  background-color: brown;
}
.liItems{
  background-color: rgb(207, 100, 100)
}
main {
  font-size: 10px;
}
.box {
   background-color: white;
}
li {
  border: 1px solid;
  width: 20%;
  list-style: none;
  background-color: white;
}
.heading {
  padding: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.dropdown {
  background-color: #fff;
  mask-image: url(imagedropdown.png);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  height: 45px;
  width: 40px;
}
