body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  border: 1px solid black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  max-width: 30%;
  position: relative;
  border-radius: 10px;
  background-color: white;
}
#cross {
  border: none;
  position: absolute;
  right: 0;
  padding-right: 20px;
  background-color: white;
}
#cross img {
  height: 30px;
  width: 30px;
}
#cross img:hover {
  transform: scale(1.1);
}
.content {
  padding: 20px;
  animation-name: myAnimation;
  animation-duration: 2s;
  transition: height 0.5s ease-out, opacity 0.5s ease-out, padding 0.5s ease-out
}
.content p {
  padding: 10px;
  width: 200px;
  text-align: justify;
}
